body {
  color: #17252a;
  background-color: #feffff;
  font-family: "Mulish", sans-serif;
}
nav {
  background-color: #2b7a78;
}
.logo {
  width: 150px;
}

#footer_div {
  background-color: #17252a;
  color: #def2f1;
}
#footer_div ul {
  list-style-type: none;
}
#footer_div a {
  text-decoration: none;
  color: #def2f1;
}
#footer_div li {
  margin-bottom: 10px;
}
h6 {
  margin-bottom: 10px;
}
#socials {
  display: none;
  margin-top: 15px;
}
#social_div {
  display: inline-block;
}
#social_div:hover #socials {
  display: block;
}
#message {
  height: 175px;
}
.btn {
  background-color: #2b7a78;
  color: #feffff;
}
